<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <link rel="stylesheet" href="./style/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <img
        class="tmdblogo"
        src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg"
        alt=""
        width="154px"
      />
      <section class="link">
        <div class="dropdown">
          <button class="dropbtn">Movies</button>
          <div class="dropdown-content">
            <a href="#">Popular</a>
            <a href="#">Now Playing</a>
            <a href="#">Upcoming</a>
            <a href="#">Top Rated</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">TV Shows</button>
          <div class="dropdown-content">
            <a href="#">Popular</a>
            <a href="#">Airing Today</a>
            <a href="#">On TV</a>
            <a href="#">Top Rated</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">People</button>
          <div class="dropdown-content">
            <a href="#">Popular</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Awards</button>
          <div class="dropdown-content">
            <a href="#">Popular</a>
            <a href="#">Upcoming</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">More</button>
          <div class="dropdown-content">
            <a href="#">Discussions</a>
            <a href="#">Leaderboard</a>
            <a href="#">Support</a>
            <a href="#">API Documentation</a>
            <a href="#">API for Business</a>
          </div>
        </div>
      </section>
      <section class="reg">
        <a class="plus" href="#">+</a>
        <div class="lang">
          <button class="langbtn">EN</button>
        </div>
        <div class="login-join-search">
          <button class="login">Login</button>
          <button class="join">Join TMDB</button>
          <button class="searchbtn">🔍</button>
        </div>
      </section>
    </nav>
    <nav class="pastroqi">
      <div class="search-box">
        <span class="search-icon">🔍</span>
        <input
          type="text"
          class="search-field"
          placeholder="Search for a movie, tv show, person..."
        />
      </div>
    </nav>
    <script src="script.js"></script>
  </body>
</html>
