<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-box text-box">
          <h3>Movies</h3>
          <p>
            Eng so'nggi va yuqori sifatli kino hamda seriallarni bizning
            platformada tomosha qiling.
          </p>
          <div class="social-icons">
            <a href="#"><i class="fa-brands fa-telegram"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
          </div>
        </div>
        <div class="footer-box link-box">
          <h4>Navigation</h4>
          <a href="#">Home</a>
          <a href="#">Genre</a>
          <a href="#">Movies</a>
          <a href="#">Series</a>
        </div>
        <div class="footer-box subscribe-box">
          <h4>Subscribe</h4>
          <p>Yangi kinolardan birinchilardan bo'lib xabardor bo'ling.</p>
          <div class="footer-search">
            <input type="email" placeholder="Your Email" />
            <button><i class="fa-solid fa-paper-plane"></i></button>
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <p>&copy; 2026 Kinoteatr. All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>
